@model PaginationVMFunc

@{
    ViewData["Title"] = "Funcionários";
}

<p> </p>
<h1>Funcionários</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Novo</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
               Telemovel
            </th>
            <th>
               CC
            </th>
            <th>
               Email
            </th>
            <th>
              Cargo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Funcionarios)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telemovel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FuncionarioId" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.FuncionarioId" class="btn btn-info">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.FuncionarioId" class="btn btn-primary">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@for (int i = Model.FirstPageShow; i <= Model.LastPageShow; i++)
{
    @if (i == Model.CurrentPage)
    {
        <a href="#" class="btn btn-info">@i</a>
    }
    else
    {
        <a asp-action="Index" asp-route-page="@i"
           class="btn btn-outline-info">@i</a>
           }
}
